@import "../styles/variables";

.like-button {
  background-color: white;
  cursor: pointer;
  border: none;
  width: 20px;
  height: 20px;
  background-color: $main-blue-color;
  color: #ffffff;
  position: absolute;
  right: 7px;
  top: 7px;
  border-radius: 10px;

  transition-duration: 500ms;

  &_submitted {
    width: 20px;
    height: 20px;
    border: none;
    color: #ffffff;
    background-color: #bfc1c8;
    display: inline-block;
    position: absolute;
    transition-duration: 500ms;
    right: 7px;
    top: 7px;
    border-radius: 10px;

    &:hover {
      background-color: red;
    }
  }
}
