@import "../styles/variables";

.city-card {
  display: grid;
  cursor: pointer;
  background-color: #36394ba6;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  grid-auto-flow: dense;
  transition-duration: 1s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
