// @import "../styles/base.scss";
@import "../styles/mixins.scss";
@import "../styles/variables";

.header {
  display: flex;
  width: 100%;
  padding: 50px 0px;
  justify-content: center;

  &__home-button {
    font-size: 1.6rem;
    background: transparent;
    color: $main-blue-color;
    border: 2px solid $main-blue-color;
    padding: 5px 25px;
    border-radius: 30px;
    transition: 0.3s ease;
    font-weight: 400;
    margin-right: 10px;

    &:hover {
      background-color: $main-blue-color;
      color: #ffffff;
    }
  }
}

.main-content {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));

  column-gap: 50px;
  row-gap: 50px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding: 2rem;

  &__show-info-button {
    border: 3px solid $main-blue-color;
    cursor: pointer;
    width: 40%;
    margin: 0 auto;
    transition: 0.3s ease;
    border-radius: 30px;
    text-align: center;
    color: $main-blue-color;
    padding: 5px 0;
    margin-top: 9px;

    &:hover {
      background-color: $main-blue-color;
      color: #ffffff;
    }
  }
}

.detailed-info__button {
  background-color: #2667f5;
  color: white;
  margin-bottom: 5px;
  border-radius: 0;
}

.main-content-wrapper {
  margin-top: 20px;
}
