// @import "../styles/base.scss";
@import "../styles/mixins.scss";
@import "../styles/variables";

.wrapper {
  background: #1e202b;
  height: 100vh;
}

.header {
  display: flex;
  width: 100%;
  padding: 50px 0px;
  border: 1px solid red;
  justify-content: center;

  &__home-button {
    font-size: 1.6rem;
    background: transparent;
    color: $main-blue-color;
    border: 2px solid $main-blue-color;
    padding: 5px 25px;
    border-radius: 30px;
    transition: 0.3s ease;
    font-weight: 400;
    margin-right: 10px;

    &:hover {
      background-color: $main-blue-color;
      color: #ffffff;
    }
  }
}

.main-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding: 2rem;
}

.detailed-info__button {
  background-color: #2667f5;
  color: white;
  margin-bottom: 5px;
  border-radius: 0;
}

.main-content-wrapper {
  margin-top: 20px;
}
