@import "../styles/base.scss";
@import "../styles/mixins.scss";

.search-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-size: 1.5rem;
    margin-right: 6px;
    height: 60%;
    width: 30%;
    border: 3px solid rgba(34, 41, 41, 0.103);
    padding: 20px 10px;
  }

  &__btn {
    height: 60%;
  }
}
